# Dependências
/node_modules
/functions/node_modules

# Ficheiros de Build
/dist
/scripts-migracao

# Logs
npm-debug.log*
firebase-debug.log*

# Ficheiros de ambiente (importante para o futuro)
.env
.env.local

# Firebase
/.firebase